{% extends 'base.html' %}

{% block title %}About Us - Prathamesh Designs{% endblock title %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100 border-0 shadow">
                <img src="/static/shaping-future.jpg" alt="Shaping the Future" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Shaping the Future</h5>
                    <p class="card-text">Welcome to Prathamesh Re-Designs, where innovation meets creativity in the digital world.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100 border-0 shadow">
                <img src="/static/team-passion.jpg"  alt="Team Passion" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Team Passion</h5>
                    <p class="card-text">Our team of visionary designers and developers are passionate about pushing boundaries and redefining what's possible.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100 border-0 shadow">
                <img src="/static/Innovative-Solutions.jpg" alt="Innovative Solutions" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Innovative Solutions</h5>
                    <p class="card-text">From cutting-edge UI/UX design to immersive web applications, we're driven by innovation and a passion for delivering beyond expectations.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100 border-0 shadow">
                <img src="/static/future-language.png" alt="Design that Speaks Tomorrow's Language" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Design that Speaks Tomorrow's Language</h5>
                    <p class="card-text">With a keen eye on emerging trends and technologies, we're dedicated to shaping digital narratives that resonate today and stand the test of time.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}


